<p id="notice"><%= notice %></p>

<h2>Registered Applications</h2>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registered_applications.each do |registered_application| %>
      <tr>
        <td><%= registered_application.user %></td>
        <td><%= registered_application.name %></td>
        <td><%= registered_application.url %></td>
        <td><%= link_to 'Show', registered_application %></td>
        <td><%= link_to 'Edit', edit_registered_application_path(registered_application) %></td>
        <td><%= link_to 'Destroy', registered_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Registered Application', new_registered_application_path, class: 'btn btn-success btn-block' %>
  <br>
<%= link_to 'Back', home_index_path %>
