

<p>
  <strong>User:</strong>
  <%= @registered_application.user.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @registered_application.name %>
</p>

<p>
  <strong>URL:</strong>
  <%= @registered_application.url %>
</p>

<%= pie_chart @registered_application.events.group(:name).count %>
<% unless Rails.env.development? %>
  <%= line_chart @registered_application.events.group_by_day(:created_at).count %>
<% end %>

<%= link_to 'Edit', edit_registered_application_path(@registered_application) %> |
<%= link_to 'Back', registered_applications_path %>
